html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-outline.required label:after {
    content: "*";
    color: #a10000;
}

.primary {
    background-color: #486430;
    color: white;
    font-weight: bold;
}

.primary:hover  {
    background-color: #618641;
    color: white;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #618641;
}

h1, h2 {
    color: #486430 !important;
    font-weight: bold;
}


.fw {
    font-weight: bolder;
    font-size: medium;
    color: #000000;
}

.form-check-input {
    font-weight: normal !important;
}

.link {
    color: #1E1E1E;
    opacity: 75%;
}

input {
    outline: none;
}

input[type=input] {
    background-color: #E3E3E3;
    outline: none;
}

.form-control {
    border-radius: .5rem !important;
}

.bg-primary {
    background-color: #486430 !important;
}

.ratio .card-img-top {
    object-fit: cover;
}

.text-primary {
    color: #486430 !important;
}