<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Avans_NoWaste.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
@if (!ReferenceEquals(ViewData["Title"], "Login") && !ReferenceEquals(ViewData["Title"], "Register"))
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/Logo.png" alt="NoWaste" style="width: 15vw"/>
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Orders">Orders</a>
                        </li>
                        @if (User.HasClaim("Employee", "true"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employee page</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="d-flex align-items-center">
                    <a asp-controller="Account" asp-action="SignOutUser">
                        <button type="button" class="btn primary">
                            Sign out
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </header>
}
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@if (!ReferenceEquals(ViewData["Title"], "Login") && !ReferenceEquals(ViewData["Title"], "Register"))
{
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - No Waste
        </div>
    </footer>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>