@model ICollection<Domain.Package>

<section class="pt-5 pb-2">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col mx-auto">
                <h2 class="fw-bold">Cafeteria: @Model.First().CafeteriaId</h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-auto">
            @foreach (var p in Model)
            {
                @await Html.PartialAsync("Partials/_productList", p)
            }
        </div>   
    </div>
</section>