@model IEnumerable<Domain.Package>

<section class="pt-5 pb-2">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col mx-auto">
                <h2 class="fw-bold">
                    <a aria-label="Return to previous page" class="link" href="javascript:history.go(-1)">
                        <i class="fa-solid fa-arrow-left pe-3"></i>
                    </a>
                    Aangeboden pakketen
                </h2>
            </div>
        </div>
        @foreach (var packages in Model.GroupBy(p => p.Cafeteria!.Location!.Name))
        {
            <h2>Locatie: @packages.Key</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mx-auto">
                @foreach (var p in packages)
                {
                    @await Html.PartialAsync("Partials/_packCard", p)
                }
            </div>
        }
    </div>
</section>